<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>This will create an AWS AMI using packer chef-solo provisioner</description>
  <logRotator class="hudson.tasks.LogRotator">
    <daysToKeep>60</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>20</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.cloudbees.jenkins.plugins.PublicKey plugin="cloudbees-public-key@1.1"/>
    <com.cloudbees.plugins.deployer.DeployNowJobProperty plugin="deployer-framework@1.1">
      <oneClickDeploy>false</oneClickDeploy>
      <hosts>
        <com.cloudbees.plugins.deployer.impl.run.RunHostImpl plugin="cloudbees-deployer-plugin@6.0">
          <targets class="java.util.Collections$UnmodifiableRandomAccessList" resolves-to="java.util.Collections$UnmodifiableList">
            <c class="list"/>
            <list reference="../c"/>
          </targets>
          <user>(jenkins)</user>
          <account>akcdeployer</account>
        </com.cloudbees.plugins.deployer.impl.run.RunHostImpl>
      </hosts>
    </com.cloudbees.plugins.deployer.DeployNowJobProperty>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.14.2">
      <projectUrl>https://github.com/akc-org/IT_Automation.git/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
    <jenkins.plugins.slack.SlackNotifier_-SlackJobProperty plugin="slack@1.8.1">
      <teamDomain></teamDomain>
      <token></token>
      <room></room>
      <startNotification>false</startNotification>
      <notifySuccess>false</notifySuccess>
      <notifyAborted>false</notifyAborted>
      <notifyNotBuilt>false</notifyNotBuilt>
      <notifyUnstable>false</notifyUnstable>
      <notifyFailure>false</notifyFailure>
      <notifyBackToNormal>false</notifyBackToNormal>
      <notifyRepeatedFailure>false</notifyRepeatedFailure>
      <includeTestSummary>false</includeTestSummary>
      <showCommitList>false</showCommitList>
      <includeCustomMessage>false</includeCustomMessage>
      <customMessage></customMessage>
    </jenkins.plugins.slack.SlackNotifier_-SlackJobProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/akc-org/IT_Automation.git/</url>
        <credentialsId>e8c7783f-1e48-408f-8547-f04944c16600</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers>
    <biz.neustar.jenkins.plugins.packer.PackerPublisher plugin="packer@1.2">
      <name>packer</name>
      <jsonTemplate></jsonTemplate>
      <jsonTemplateText>{
  &quot;builders&quot;: [{
    &quot;type&quot;: &quot;amazon-ebs&quot;,
    &quot;access_key&quot;: &quot;{{user `aws_access_key`}}&quot;,
    &quot;secret_key&quot;: &quot;{{user `aws_secret_key`}}&quot;,
    &quot;region&quot;: &quot;us-east-1&quot;,
    &quot;source_ami&quot;: &quot;ami-d85e75b0&quot;,
    &quot;instance_type&quot;: &quot;t1.micro&quot;,
    &quot;ssh_username&quot;: &quot;ubuntu&quot;,
    &quot;ami_name&quot;: &quot;packer_webserver {{timestamp}}&quot;
  }],
  &quot;provisioners&quot;: [{
   &quot;type&quot;: &quot;chef-solo&quot;,
   &quot;cookbook_paths&quot;: [&quot;/scratch/jenkins/workspace/DEV-WEB_SERVER-IT_AUTOMATION-PACKER_AMI/chef-repo&quot;],
   &quot;run_list&quot;: [&quot;akc-setup::webserver&quot;],
   &quot;environments_path&quot;: &quot;/scratch/jenkins/workspace/DEV-WEB_SERVER-IT_AUTOMATION-PACKER_AMI/chef-repo/environments&quot;,
   &quot;chef_environment&quot;: &quot;dev&quot;,
   &quot;data_bags_path&quot;: &quot;/scratch/jenkins/workspace/DEV-WEB_SERVER-IT_AUTOMATION-PACKER_AMI/chef-repo/akc-setup/data_bags&quot;,
   &quot;encrypted_data_bag_secret_path&quot;: &quot;/scratch/jenkins/workspace/DEV-WEB_SERVER-IT_AUTOMATION-PACKER_AMI/chef-repo/akc-setup/keys/encrypted_data_bag_secret&quot;
  }]
}</jsonTemplateText>
      <params>-var aws_access_key=$access_key -var aws_secret_key=$secret_key</params>
      <useDebug>false</useDebug>
      <changeDir></changeDir>
      <templateMode>text</templateMode>
    </biz.neustar.jenkins.plugins.packer.PackerPublisher>
  </publishers>
  <buildWrappers>
    <EnvInjectPasswordWrapper plugin="envinject@1.92.1">
      <injectGlobalPasswords>true</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>access_key</name>
          <value>SlYiNTWwCyYup1Nbm5ovrJ1Wpjswu3DhOXB5vmAMw+JejPU3gMYX8HvllWgudp7A</value>
        </EnvInjectPasswordEntry>
        <EnvInjectPasswordEntry>
          <name>secret_key</name>
          <value>JLPRxj0fJ/XIu7a2OsdPsjD+0ii/OG91VAaGw5gs+l1LOvomHkUq5dh6NW3u8BQ02u6qTdF19we70OmiSxm79w==</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>